<H1> Angular Events</H1>
<hr>
<div class="container px-4 thumbnail">
	<div class="row gx-5">
			<div class="p-3 border bg-light col-md-5 pad-left" *ngFor="let e of eventList">
				<app-event-thumbnail (register)="registerEvent($event)" [events]="e"></app-event-thumbnail>
			</div>
	</div>
</div>
<hr>
<!--{{thumbnailCmp.property}}-->
<br>
<!--button class="btn btn-primary" (click)="thumbnailCmp.logEvent()">logEvent</button-->
<div class="container px-4">
	<div class="row gx-5">
		<div class="col">
			<div class="p-3 border bg-light">Custom column padding</div>
		</div>
		<div class="col">
			<div class="p-3 border bg-light">Custom column padding</div>
		</div>
	</div>
</div>