<div>
	<div>
		<h3>{{events?.name}}</h3>
		<div>Date: {{events?.date}}</div>
		<div>Time: {{events?.time}}</div>
		<div>Price: ${{events?.price}}</div>
    <div *ngIf="events?.onlineUrl">Online Url: {{events?.onlineUrl}}</div>
		<div>
			<span *ngIf="events?.location">
        Location: 
        <span *ngIf="events.location?.address">{{events?.location?.address}}, </span> 
        <span *ngIf="events.location?.city">{{events?.location?.city}}, </span> 
        <span *ngIf="events.location?.country">{{events?.location?.country}}, </span>
        </span>
		</div>
		<button class="btn btn-primary" (click)="handleRegister()">Register</button>
	</div>

</div>